<html>
    <head>
        <%- include('./../css.ejs') %>
    </head>
    <body>
        <h1>Iniciar sesión!</h1>
        <p><%= user.nombre %></p>
        <p><%= user.id %></p>
        <p><%= user.activo %></p>
    </body>
    <%- include('./../scripts.ejs') %>
</html>